<p style="color: green"><%= notice %></p>
<%= render @patient_detail %>
<div class="container mt-5">
  <div class="row">
    <div class="col">
      <%= button_to "Edit this patient detail", edit_patient_detail_path(@patient_detail), method: :get, class: "btn btn-primary" %>
    </div>
    <div class="col">
      <%= button_to "Back to patient details", patient_details_path, method: :get, class: "btn btn-secondary" %>
    </div>
    <div class="col">
      <%= button_to "Destroy this patient detail", @patient_detail, method: :delete, class: "btn btn-warning" %>
    </div>
  </div>
</div>