<div id="<%= dom_id child_level_detail %>">
  <p>
    <strong>Pid:</strong>
    <%= child_level_detail.PID %>
  </p>

  <p>
    <strong>Teethscreening:</strong>
    <%= child_level_detail.TeethScreening %>
  </p>

  <p>
    <strong>Teethpreventative:</strong>
    <%= child_level_detail.TeethPreventative %>
  </p>

  <p>
    <strong>Teethfollowup:</strong>
    <%= child_level_detail.TeethFollowup %>
  </p>

  <p>
    <strong>Prescribername:</strong>
    <%= child_level_detail.PrescriberName %>
  </p>

  <p>
    <strong>Screendate:</strong>
    <%= child_level_detail.ScreenDate %>
  </p>

  <p>
    <strong>Screencomment:</strong>
    <%= child_level_detail.ScreenComment %>
  </p>

  <p>
    <strong>Untreatedcavities:</strong>
    <%= child_level_detail.UntreatedCavities %>
  </p>

  <p>
    <strong>Carriesexperience:</strong>
    <%= child_level_detail.CarriesExperience %>
  </p>

  <p>
    <strong>Sealants:</strong>
    <%= child_level_detail.Sealants %>
  </p>

  <p>
    <strong>Referrals:</strong>
    <%= child_level_detail.ReferralS %>
  </p>

  <p>
    <strong>Providername:</strong>
    <%= child_level_detail.ProviderName %>
  </p>

  <p>
    <strong>Providerdate:</strong>
    <%= child_level_detail.ProviderDate %>
  </p>

  <p>
    <strong>Preventcomment:</strong>
    <%= child_level_detail.PreventComment %>
  </p>

  <p>
    <strong>Firstsealednum:</strong>
    <%= child_level_detail.FirstSealedNum %>
  </p>

  <p>
    <strong>Secondsealednum:</strong>
    <%= child_level_detail.SecondSealedNum %>
  </p>

  <p>
    <strong>Otherpermnum:</strong>
    <%= child_level_detail.OtherPermNum %>
  </p>

  <p>
    <strong>Primarysealed:</strong>
    <%= child_level_detail.PrimarySealed %>
  </p>

  <p>
    <strong>Fluoridevarnish:</strong>
    <%= child_level_detail.FluorideVarnish %>
  </p>

  <p>
    <strong>Evaluatorsname:</strong>
    <%= child_level_detail.EvaluatorsName %>
  </p>

  <p>
    <strong>Evaluatordate:</strong>
    <%= child_level_detail.EvaluatorDate %>
  </p>

  <p>
    <strong>Evaluatorcomment:</strong>
    <%= child_level_detail.EvaluatorComment %>
  </p>

  <p>
    <strong>Retainedsealant:</strong>
    <%= child_level_detail.RetainedSealant %>
  </p>

  <p>
    <strong>Referreddt:</strong>
    <%= child_level_detail.ReferredDT %>
  </p>

  <p>
    <strong>Referredudt:</strong>
    <%= child_level_detail.ReferredUDT %>
  </p>

  <p>
    <strong>Sealantsrecd:</strong>
    <%= child_level_detail.SealantsRecd %>
  </p>

  <p>
    <strong>Sealnatsneeded:</strong>
    <%= child_level_detail.SealnatsNeeded %>
  </p>

  <p>
    <strong>Experienced:</strong>
    <%= child_level_detail.Experienced %>
  </p>

  <p>
    <strong>Untreateddecayfollow:</strong>
    <%= child_level_detail.UntreatedDecayFollow %>
  </p>

  <p>
    <strong>Services:</strong>
    <%= child_level_detail.Services %>
  </p>

  <p>
    <strong>Orhealthstatus:</strong>
    <%= child_level_detail.ORHealthStatus %>
  </p>

</div>
